.containerInput {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px;
    margin: auto 12px;
    font-size: 14px;
}

.SelectedBlockOnParameters {
    width: 33px;
    height: 33px;
    text-align: center;
    padding: 0px;
    margin: auto 6px auto 12px;
}

.SelectedBlockOnFunction {
    width: 70px;
    height: 33px;
    text-align: center;
    padding: 0px;
    margin: auto 6px auto 12px;
}

* {
    font-size: 20px;
}

caption {
    margin: 0.7em 0em;
}

.BigBlock {
    background-color: rgb(219, 216, 216);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
    margin: 15px auto;
    width: 75%;
    border-radius: 15px;
    padding: 25px;
}

.BlockOfContetnt {
    margin: 5px auto;
    width: 60%;
}

.DistanceBetweenBlocks {
    margin: 1px auto 15px auto;
}

.InLineBlocks {
    display: flex;
}

.SizeBlockOfMatriks {
    width: 40px;
}

.ButtonSubmit {
    width: 250px;
    height: 50px;
    display: block;
    margin: 8px auto;
    border-radius: 10px;
    background-color: darkgrey;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ElementOnLeft {
    margin-left: auto;
}

.ElementOnRight {
    margin-right: auto;
}

.ElementOnCenter {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.TableOnCenter {
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 2em;
}

.TableOnCenter td {
    text-align: center;
    background-color: white;
    padding: 6px;
    border: 2px black solid;
}

.TableOfAdds {
    margin-top: auto;
    margin-bottom: auto;
}

.ClearColumn {
    background-color: rgb(219, 216, 216);
    border: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.TextOnCenter {
    text-align: center;
    margin-bottom: 10px;
}